* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: white;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(2,6,23,0.8);
  backdrop-filter: blur(10px);
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 50px;
  flex-wrap: wrap;
}

.hero span {
  color: #38bdf8;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  background: #38bdf8;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: black;
}

.btn:hover {
  transform: scale(1.1);
}

.outline {
  background: transparent;
  border: 1px solid #38bdf8;
  color: white;
}

/* Sections */
section {
  padding: 60px 50px;
}

/* Skills */
.skill {
  margin: 20px 0;
}

.bar {
  background: #1e293b;
  height: 10px;
  border-radius: 5px;
}

.progress {
  height: 10px;
  background: #38bdf8;
  border-radius: 5px;
  animation: load 2s;
}

@keyframes load {
  from { width: 0; }
}

/* Projects */
.project-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: #334155;
}

/* Contact */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

form input, form textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.social {
  margin-top: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

/* Responsive */
@media(max-width:768px){
  .hero {
    flex-direction: column;
    text-align: center;
  }
}